<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.halo.mapper.PeopleMapper">

    <resultMap id="BaseResultMap" type="com.halo.entity.People">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="ext_1" property="peopleType" jdbcType="VARCHAR"/>
        <result column="ext_2" property="grade" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, age, create_time, ext_1, ext_2
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from people
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from people
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="savePeople" parameterType="com.halo.entity.People" useGeneratedKeys="true" keyProperty="id">
    insert into people (id, name, age, create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertSelective" parameterType="com.halo.entity.People">
        insert into people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.halo.entity.People">
        update people
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.halo.entity.People">
    update people
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryPeople" resultMap="BaseResultMap" parameterType="com.halo.entity.People">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            `people`
        <where>
            <include refid="where_query"/>
        </where>
    </select>

    <select id="queryPeopleList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            people
    </select>

    <sql id="where_query">
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="age != null">
            AND age = #{age}
        </if>
        <if test="name != null and name !='' ">
            AND name = #{name}
        </if>
    </sql>
</mapper>